<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <meta content="IE=11.0000" http-equiv="X-UA-Compatible" /> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>{$hd.config.WEBNAME}</title>
     <css file="__STATIC__/hdjs/hdjs.css"/>
     <css file="__TEMPLATE__/css/common.css"/>
     <link href="__STATIC__/css/header.css" rel="stylesheet" type="text/css" />
     <link href="__STATIC__/css/index_style.css" rel="stylesheet" type="text/css" />

  <link href="__STATIC__/scroll/css/lanrenzhijia.css" rel="stylesheet" type="text/css" />
  <script src="__STATIC__/js/jquery-1.11.0.min.js"></script> 
<!--  <script src="__STATIC__/js/Effect.js"></script>-->
  <script src="__STATIC__/scroll/js/lanrenzhijia.js"></script> 
 </head> 
 <body>
 <include file="__TEMPLATE__/block/header.html"/>
  <div class="h_10"></div>
  <div class="BannerBox cWidth clearfix"> 
   <div class="Notc fr">
    <div class="Ctil clearfix Nwd_1 Teb_1"> 
     <span class="active">后备快报</span>
     <span><!--我们一直在进步--></span>
    </div> 
    <div class="NtcTxt">
        <arclist row="10" cid="52" sub_channel="1">
            <p>{$field._index}．<a href="{$field.url}" target="_blank">{$field.title}</a></p>
        </arclist>
        <div class="More_1">
            <a class="Grad CreatBtn" style="color: #FAFAFA;" href="#">查看更多</a>
        </div>
    </div> 
    <!--<div class="NtcTxt Hide_Box">
        &lt;!&ndash; <arclist row="1" cid="53" order="new" sub_channel="1">
        {$field.title}
        {$hdcms.content}
         <?php p($field);?>
        </arclist> &ndash;&gt;
     <p>1月10日 修复首页搜索下拉框文字错误。</p> 
     <p>1月10日 修复生成静态后第1页不存在问题</p> 
     <p>1月10日 新增内容关键词替换插件(增强网站SEO)</p> 
     <p>1月10日 修复中文分词Tag词典路径错误</p>
     <div class="More_1"> 
      <a href="#">查看更多</a> 
     </div> 
    </div> -->
   </div>
   <!--焦点图--> 
   <div class="Banner fl"> 
      <div class="ctrl-panel">
        <A class=m-page href="javascript:;" rel=js_btn_list>1</A>
        <A class=m-page href="javascript:;" rel=js_btn_list>2</A>
        <A class=m-page href="javascript:;" rel=js_btn_list>3</A>
        <A class=m-page href="javascript:;" rel=js_btn_list>4</A>
      </div>
      <div class="scroll-wrap">
        <div class="scroll_box_content" rel="scroll_box_content">
          <div class=content_list><img onClick="location.href='#'" src="__STATIC__/images/java.jpg" /></div>
          <div class=content_list><img onClick="location.href='#'" src="__STATIC__/images/mysql.jpg" /></div>
          <div class=content_list><img onClick="location.href='#'" src="__STATIC__/images/php.jpg" /></div>
          <div class=content_list><img onClick="location.href='#'" src="__STATIC__/images/html.jpg" /></div>
        </div>
      </div>
  </div>
      <!--/焦点图-->
  </div> 
  <div class="h_20"></div> 
  <div class="AllCnt cWidth clearfix"> 
   <div class="AllCnt_L fl"> 
    <div class="ElAtc"> 
     <div class="Title"> 
      <h3>优秀文章</h3> 
     </div> 
     <div class="ElAtcCnt clearfix"> 
      <div class="Ctil clearfix Teb_7"> 
       <span class="active">最近更新</span> 
       <span><!--代码分享--></span>
       <span><!--项目展示--></span>
      </div> 
      <div class="AtcList"> 
       <ul> 
          <arclist row="6" cid="1" sub_channel="1">
            <li class="clearfix"> <span class="Nuber">{$field._index}</span>
              <strong class="AcTil"><a href="{$field.url}" target="_blank">{$field.title}</a></strong>
            <span class="datetime">{$field.time}</span>
            </li>
          </arclist>
       </ul> 
       <div class="More_1"> 
        <a href="#">查看更多</a> 
       </div> 
      </div> 
<!--      <div class="AtcList Hide_Box">
       <ul> 
          <arclist row="6" cid="1" sub_channel="1">
            <li class="clearfix"> <span class="Nuber">{$field._index}</span>
              <strong class="AcTil"><a href="{$field.url}" target="_blank">{$field.title}</a></strong>
            <span class="datetime">{$field.time}</span>
            </li>
          </arclist>
       </ul> 
       <div class="More_1"> 
        &lt;!&ndash;a href="#">查看更多</a&ndash;&gt;
       </div> 
      </div> 
      <div class="AtcList Hide_Box"> 
       <ul> 
          <arclist row="6" cid="1" sub_channel="1">
            <li class="clearfix"> <span class="Nuber">{$field._index}</span>
              <strong class="AcTil"><a href="{$field.url}" target="_blank">{$field.title}</a></strong>
            <span class="datetime">{$field.time}</span>
            </li>
          </arclist>
       </ul> 
       <div class="More_1"> 
        &lt;!&ndash;a href="#">查看更多</a&ndash;&gt;
       </div> 
      </div> -->
     </div> 
    </div> 
 
   </div> 
   <div class="AllCnt_R fr"> 
    <div class="LdBdr"> 
     <div class="Title Ntil_2"> 
      <h3>人气排行榜</h3>
     </div> 
     <div class="LdBdrCnt clearfix"> 
      <div class="Ctil clearfix Nwd Teb_4"> 
       <span class="active">热门文章</span>
       <span><!--评论--></span>
       <span><!--关注--></span>
      </div> 
      <div class="LbList"> 
       <div class="Tlist"> 
        <ul> 
        <arclist row="6" cid="1" sub_channel="1">
         <li class="clearfix">
            <span class="Nuber">{$field._index}</span>
            <strong class="LbTil fl">
              <a href="{$field.url}" target="_blank">{$field.title}</a>
            </strong>
            <span class="datetime">{$field.time}</span>
          </li> 
        </arclist>
        </ul>
           <div class="More">
               <a href="#">查看更多</a>
           </div>
       </div> 
      </div> 
    <!--  <div class="LbList Hide_Box">
       <div class="Tlist"> 
        <ul> 
        <arclist row="6" cid="1" sub_channel="1">
         <li class="clearfix">
            <span class="Nuber">{$field._index}</span>
            <strong class="LbTil fl">
              <a href="{$field.url}" target="_blank">{$field.title}</a>
            </strong>
            <span class="datetime">{$field.time}</span>
          </li> 
        </arclist>
        </ul>
        <div class="More"> 
         <a href="#" target="_blank">查看更多</a> 
        </div> 
       </div> 
      </div> 
      <div class="LbList Hide_Box"> 
       <div class="Tlist"> 
        <ul> 
        <arclist row="6" cid="1" sub_channel="1">
         <li class="clearfix">
            <span class="Nuber">{$field._index}</span>
            <strong class="LbTil fl">
              <a href="{$field.url}" target="_blank">{$field.title}</a>
            </strong>
            <span class="datetime">{$field.time}</span>
          </li> 
        </arclist>
        </ul>
        <div class="More"> 
         <a href="#=3" target="_blank">查看更多</a> 
        </div> 
       </div> 
      </div> -->
     </div> 
    </div> 
     <div class="h_20"></div> 
    </div>
    <div class="h_20"></div> 
<div style="margin-top: 280px;background: #123;"></div>
  <div class="BotCntBox"> 
   <div class="BotCnt cWidth"> 
    <div class="BotNav clearfix"> 
     <ul class="fl"> 
     </ul> 
    </div> 
    <div class="copyRight clearfix"> 
     <div class="copyRightText"> 
      <p>Copyright &copy 2015  www.houbei.cc, All Rights Reserved 后备网 版权所有 黔ICP备15000001号</p> 
     </div> 
    </div> 
   </div> 
  </div>  
 </body>
</html>