.BigBg {
	background: url("../../static/images/BigBgN_2.jpg") no-repeat center; width: 100%; height: 550px; position: absolute; z-index: -1;
}
.BigBgTxtBox {
	position: relative;
}
.BigBgTxt {
	width: 446px; height: 330px; padding-top: 40px;
}
.BigBgIntro {
	left: 580px; top: 90px; width: 320px; height: 110px; color: rgb(193, 105, 9); line-height: 18px; position: absolute;
}
.BigBgIntro p {
	text-indent: 2em;
}
.BigBgIntro a {
	background: rgb(218, 136, 30); border-radius: 4px; width: 115px; height: 36px; text-align: center; color: rgb(255, 253, 189); line-height: 36px; font-size: 18px; margin-top: 10px; margin-left: 90px; display: inline-block;
}
.BigBgIntro a:hover {
	color: rgb(255, 253, 189); opacity: 0.8;
}
.BannerBox {
	
}
.Notc {
	background: rgb(255, 255, 255); border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(228, 226, 226) rgb(228, 226, 226); border-image: none; width: 270px; height: 336px; /*margin-right: 20px;*/ position: relative;
}
.Ctil span {
	background: rgb(241, 240, 240); width: 130px; height: 40px; text-align: center; color: rgb(89, 89, 88); line-height: 40px; font-size: 14px; border-top-color: rgb(228, 226, 226); border-top-width: 5px; border-top-style: solid; float: left; display: inline-block;
}
.Ctil .active {
	background: rgb(255, 255, 255); color: rgb(32, 204, 178); border-top-color:#40AA53; border-top-width: 5px; border-top-style: solid;
}
.Banner {
	width:710px; height:336px; overflow: hidden; position: relative;background-color: #000099;
}
.BannerImg a {
	position: absolute;
}
.BannerImg ul {
	right: 5px; bottom: 10px; position: absolute; z-index: 1002;
}
.BannerImg ul li {
	background: rgb(255, 255, 255); width: 10px; height: 10px; text-align: center; line-height: 14px; text-indent: -10000px; font-size: 12px; margin-right: 8px; float: left; cursor: pointer;
}
.BannerImg ul li.on {
	background: rgb(255, 184, 14);
}
.NtcTxt {
	padding: 15px 10px;
}
.NtcTxt p {
	color: rgb(142, 142, 141); line-height: 18px; margin-right: 0px; margin-bottom: 5px;white-space: nowrap;overflow: hidden;
}
.NtcTxt p a{
    color: #555;
}
.NtcTxt li {
	background: url("../../static/images/arr.png") no-repeat left; padding-left: 10px; margin-bottom: 8px; float: left;
}
.NtcTxt i {
	color: rgb(31, 203, 177); font-style: normal; margin-right: 5px; float: left;
}
.CreatBtn {
	background: rgb(255, 122, 77); border-radius: 4px; width: 100px; height: 30px; text-align: center; color: rgb(255, 255, 255); line-height: 30px; margin-left: 140px; display: inline-block;
}
.CreatBtn:hover {
	color: rgb(255, 255, 255); opacity: 0.7;
}
.LsName {
	width: 150px; color: rgb(93, 93, 93); overflow: hidden; float: left; display: inline-block; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.PdName {
	width: 75px; color: rgb(142, 142, 141); overflow: hidden; float: left; display: inline-block; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.Login {
	width: 240px; color: rgb(93, 92, 92); margin-left: 20px;
}
.Login h3 {
	height: 24px; line-height: 24px; font-size: 14px; font-weight: normal;
}
.LoginCnt h3 {
	margin-bottom: 16px;
}
.Login input {
	padding: 13px 10px; width: 220px; height: 14px; color: rgb(142, 142, 141); float: left;
}
.Utxt {
	border: 1px solid rgb(230, 230, 230); border-image: none; border-top-left-radius: 4px; border-top-right-radius: 4px; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; -moz-border-top-left-radius: 4px; -moz-border-top-right-radius: 4px;
}
.Ptxt {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(230, 230, 230) rgb(230, 230, 230); border-image: none; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; -webkit-border-bottom-left-radius: 4px; -webkit-border-bottom-right-radius: 4px; -moz-border-bottom-left-radius: 4px; -moz-border-bottom-right-radius: 4px;
}
.Lbtn {
	background: rgb(255, 122, 77); border-radius: 4px; width: 240px; height: 40px; text-align: center; color: rgb(255, 255, 255); line-height: 40px; font-size: 14px; margin-top: 10px; display: block;
}
.Lbtn:hover {
	color: rgb(255, 255, 255); opacity: 0.7;
}
.Sina {
	background: url("../../static/images/icon_3.png") no-repeat left; height: 22px; color: rgb(93, 93, 93); line-height: 24px; padding-left: 34px; margin-top: 10px; margin-bottom: 10px; display: block;
}
.Sbtn {
	background: rgb(255, 255, 255); border-radius: 4px; border: 1px solid rgb(230, 230, 230); border-image: none; width: 240px; height: 40px; text-align: center; color: rgb(93, 93, 93); line-height: 40px; font-size: 14px; display: block;
}
.Logged {
	background: rgb(255, 255, 255); padding: 10px; border-radius: 4px; border: 1px solid rgb(230, 230, 230); border-image: none; height: 235px; wdith: 210px;
}
.Logged h3 {
	border-bottom-color: rgb(230, 230, 230); border-bottom-width: 1px; border-bottom-style: solid;
}
.Logged h3 a {
	color: rgb(93, 92, 92); padding-top: 2px; font-size: 12px;
}
.uesTxt {
	width: 115px; margin-left: 10px;
}
.uesTxt i {
	margin: 5px 0px; font-style: normal; display: inline-block;
}
.uesTxt a {
	color: rgb(32, 204, 178); font-size: 14px; display: block;
}
.uesTxt {
	line-height: 18px;
}
.uesData {
	background: rgb(32, 204, 178); width: 65px; height: 40px; color: rgb(255, 255, 255); margin-top: 15px; margin-right: 6px;
}
.uerIfo .sp {
	margin-right: 0px;
}
.uesData span {
	height: 20px; text-align: center; line-height: 20px; display: block;
}
.Enter {
	background: rgb(255, 122, 77); width: 210px; height: 40px; text-align: center; color: rgb(255, 255, 255); line-height: 40px; font-size: 14px; margin-top: 15px;
}
.AllCnt_L {
	width: 562px;
}
.AllCnt_R {
	width: 434px;
}
.Ctil span {
	width: 183px;
}
.Title h3 {
	background: url("../../static/images/icon2.png") no-repeat left; color: rgb(89, 89, 88); padding-left: 25px; font-size: 16px; font-weight: normal; margin-bottom: 10px;
}
.ElAtcCnt {
	background: rgb(255, 255, 255); border: 1px solid rgb(228, 226, 226); border-image: none; width: 549px; height: 253px; position: relative;
}
.AtcList {
	padding: 20px 0px 0px 20px;
}
.AtcList li {
	height: 20px; overflow: hidden; margin-bottom: 13px; _margin-bottom: 10px;
}
.AtcList li a {
	line-height: 14px; font-size: 14px; display: inline-block;
}
.AtcList strong {
	font-weight: normal; display: inline-block;
}
.AcTil {
	width: 400px; margin-left: 10px;
}
.AcTil a {
	color: rgb(93, 93, 93);
}
.AcAth {
	width: 170px;
}
.AcAth a {
	color: rgb(176, 175, 175);
}
.datetime{
	color: rgb(171, 170, 170);
}
.Ls {
	color: rgb(176, 175, 175);
}
.Ntil h3 {
	background: url("../../static/images/icon1.png") no-repeat left;
}
.LsList {
	padding: 20px;
}
.LsList li {
	width: 230px; height: 160px; margin-right: 20px; float: left; position: relative;
}
.LsList .sp {
	margin-right: 0px;
}
.LsList span {
	background: rgb(0, 0, 0); left: 0px; width: 230px; height: 25px; text-align: center; bottom: 0px; color: rgb(255, 255, 255); line-height: 25px; display: inline-block; position: absolute; opacity: 0.5;
}
.LsList p {
	left: 0px; width: 100px; height: 18px; text-align: center; bottom: -30px; line-height: 18px; position: absolute;
}
.LsList p a {
	background: rgb(230, 230, 230); width: 60px; height: 18px; color: rgb(196, 197, 198); line-height: 18px; font-size: 11px; display: inline-block; transition-property: all; transition-duration: 0.5s; -moz-transition-property: all; -moz-transition-duration: 0.5s; -webkit-transition-property: all; -webkit-transition-duration: 0.5s; -o-transition-property: all; -o-transition-duration: 0.5s;
}
.LsList p a:hover {
	background: rgb(255, 122, 77); color: rgb(255, 255, 255);
}
.Ntil_1 h3 {
	background: url("../../static/images/icon3.png") no-repeat left;
}
.MeList {
	padding: 20px;
}
.MeList li {
	padding: 8px; border: 1px solid rgb(241, 240, 240); border-image: none; margin-right: 28px;
}
.MeList .sp {
	margin-right: 0px;
}
.MeTxt {
	width: 100px; margin-left: 15px;
}
.MeTxt p {
	height: 20px; color: rgb(135, 134, 134); line-height: 20px;
}
.MeTxt .sp {
	color: rgb(57, 56, 56);
}
.MeTxt a {
	background: rgb(255, 122, 77); width: 57px; height: 18px; text-align: center; color: rgb(255, 255, 255); line-height: 18px; margin-top: 5px; display: inline-block;
}
.MeTxt a:hover {
	color: rgb(255, 255, 255); opacity: 0.7;
}
.Nht {
	height: 350px;
}
.Ntil_2 h3 {
	background: url("../../static/images/icon4.png") no-repeat left;
}
.LdBdrCnt {
	background: rgb(255, 255, 255); border: 1px solid rgb(228, 226, 226); border-image: none; width: 435px; height: 253px; position: relative;
}
.Nht_1 {
	height: 270px;
}
.Nwd span {
	width: 145px; position: relative;
}
.Tmenu {
	left: 0px; top: 0px; width: 414px; position: absolute;
}
.Tmenu b {
	width: 207px; height: 40px; text-align: center; color: rgb(159, 158, 158); line-height: 40px; font-size: 14px; font-weight: normal; float: left; display: inline-block;
}
.Tmenu .active {
	color: rgb(32, 204, 178);
}
.LbList {
	padding: 20px 10px 10px 20px; position: relative;
}
.Npd_1 {
	padding: 50px 10px 10px 20px;
}
.LbList li {
	height: 16px; overflow: hidden; margin-bottom: 16px; _margin-bottom: 10px;
}
.LbList li a {
	color: rgb(93, 93, 93); line-height: 16px; font-size: 14px; display: inline-block;
}
.LbTil {
	width: 270px; font-weight: normal; margin-right: 10px; margin-left: 10px; display: inline-block;
}
.LbAth {
	width: 100px; font-weight: normal; display: inline-block;
}
.LbList .LsN {
	background: rgb(230, 230, 230); width: 60px; height: 18px; text-align: center; color: rgb(196, 197, 198); line-height: 18px; font-size: 11px;
}
.LbList .Nbg {
	width: 60px; height: 18px; text-align: center; color: rgb(196, 197, 198); line-height: 18px; font-size: 11px;
}
.LsN {
	transition-property: all; transition-duration: 0.5s; -moz-transition-property: all; -moz-transition-duration: 0.5s; -webkit-transition-property: all; -webkit-transition-duration: 0.5s; -o-transition-property: all; -o-transition-duration: 0.5s;
}
.LsN:hover {
	background: rgb(255, 122, 77); color: rgb(255, 255, 255);
}
.BotCntBox {
	background-color: #fff; width: 1002px; height: 80px;
}
.BotNav {
	margin: 0px auto; width: 1000px; text-align: center; padding-top: 10px;
}
.BotNav li {
	color: #666; margin-right: 15px; float: left;
}
.BotNav li a {
	color: #666 margin-right: 20px;
}
.BotNav li a:hover {
	color: rgb(255, 51, 51);
}
.copyRight {
	width: 1000px; text-align: center; margin-top: 20px;
}
.copyRightText {
	text-align: center;
}
.copyRightImg img {
	vertical-align: middle;
}
.copyRightText img {
	vertical-align: middle; display: inline;
}
.copyRightText p {
	margin-bottom: 5px;
}
.copyRightText p a {
	color: rgb(0, 0, 0);
}
.Tcnt_L {
	width: 292px;
}
.Nbg h3 {
	background: url("../../static/images/icon5.png") no-repeat left;
}
.Recon {
	background: rgb(255, 255, 255); padding: 20px; border: 1px solid rgb(239, 240, 240); border-image: none; width: 250px;
}
.TNtc {
	margin-bottom: 10px;
}
.Tctil {
	height: 20px; color: rgb(129, 132, 134); line-height: 20px; padding-bottom: 6px; font-size: 16px; font-weight: normal; margin-bottom: 10px; border-bottom-color: rgb(239, 240, 240); border-bottom-width: 1px; border-bottom-style: solid;
}
.AcList {
	margin-top: 10px;
}
.AcList .Nbg {
	background: rgb(252, 72, 63);
}
.AcList .Nbg_1 {
	background: rgb(252, 117, 63);
}
.AcList .Nbg_2 {
	background: rgb(252, 148, 63);
}
.AcList span {
	background: rgb(46, 212, 156); width: 16px; height: 16px; text-align: center; color: rgb(255, 255, 255); line-height: 16px; margin-right: 5px; display: inline-block;
}
.AcList a {
	height: 16px; color: rgb(125, 131, 137); line-height: 16px; font-size: 14px; display: inline-block;
}
.AcList li {
	margin-top: 15px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.ReconMeber li {
	padding-bottom: 10px; margin-top: 15px; border-bottom-color: rgb(239, 240, 240); border-bottom-width: 1px; border-bottom-style: dashed;
}
.ReconTxt {
	width: 175px; line-height: 20px;
}
.ReconTxt h3 {
	color: rgb(79, 77, 77); font-size: 14px; font-weight: normal; margin-top: -2px;
}
.ReconTxt p {
	color: rgb(164, 174, 179);
}
.ReconTxt span {
	color: rgb(164, 174, 179);
}
.ReconTxt a {
	background: rgb(255, 122, 77); border-radius: 3px; width: 60px; height: 20px; text-align: center; color: rgb(255, 255, 255); line-height: 20px; margin-top: -5px; display: inline-block;
}
.ReconTxt a:hover {
	color: rgb(255, 255, 255);
}
.Nbg_1 h3 {
	background: url("../../static/images/icon6.png") no-repeat left;
}
.TpageBox {
	background: rgb(255, 255, 255); padding: 0px 20px 30px; border: 1px solid rgb(239, 240, 240); border-image: none; width: 623px;
}
.IntroTil {
	padding: 15px 0px 5px; width: 623px; text-align: center; color: rgb(89, 89, 88); font-size: 18px; font-weight: normal;
}
.IntroCntN {
	color: rgb(125, 131, 137); line-height: 24px; text-indent: 2em; font-size: 14px; margin-top: 5px;
}
.IntroCntN a {
	color: rgb(255, 122, 77);
}
.TpageBox th {
	height: 40px; text-align: left; color: rgb(89, 89, 89); line-height: 40px; font-size: 14px; font-weight: normal; border-bottom-color: rgb(239, 240, 240); border-bottom-width: 1px; border-bottom-style: solid;
}
.TpageBox tr {
	padding: 0px 20px;
}
.TpageBox td {
	height: 40px; text-align: left; color: rgb(177, 177, 172); line-height: 40px; font-weight: normal; border-bottom-color: rgb(239, 240, 240); border-bottom-width: 1px; border-bottom-style: dashed;
}
.TpageBox td a {
	color: rgb(177, 177, 172);
}
.lst td {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.Page {
	margin: 0px auto; text-align: center;
}
.Page span a {
	color: rgb(203, 209, 213); font-size: 14px;
}
.Page i a {
	background: rgb(240, 239, 239); width: 25px; height: 25px; text-align: center; color: rgb(205, 204, 204); line-height: 25px; font-style: normal; margin-right: 5px; margin-left: 5px; display: inline-block; transition-property: background-color; transition-duration: 1s; -moz-transition-property: background-color; -moz-transition-duration: 1s; -webkit-transition-property: background-color; -webkit-transition-duration: 1s; -o-transition-property: background-color; -o-transition-duration: 1s;
}
.Page i a:hover {
	background: rgb(32, 204, 178); color: rgb(255, 255, 255);
}
.Page .active {
	background: rgb(32, 204, 178); color: rgb(255, 255, 255);
}
.Nbg_2 h3 {
	background: url("../../static/images/Icon_12.png") no-repeat left; padding-left: 28px;
}
.LrtName {
	width: 623px; margin-top: 20px;
}
.LrtName span {
	width: 85px; text-align: right; color: rgb(89, 89, 89); font-size: 14px; display: inline-block;
}
.LrtIpt {
	padding: 5px 10px; border-radius: 4px; border: 1px solid rgb(224, 227, 223); border-image: none; width: 250px; height: 20px; color: rgb(177, 177, 172); line-height: 20px; font-family: "微软雅黑";
}
.LrtAre {
	padding: 5px 10px; border-radius: 4px; border: 1px solid rgb(224, 227, 223); border-image: none; width: 350px; height: 100px; color: rgb(177, 177, 172); line-height: 20px; font-family: "微软雅黑";
}
.LrtBtn {
	width: 623px; text-align: center; margin-top: 20px;
}
.LrtBtn a {
	background: rgb(255, 122, 77); border-radius: 4px; width: 100px; height: 40px; color: rgb(255, 255, 255); line-height: 40px; display: inline-block;
}
.LrtBtn a:hover {
	color: rgb(255, 255, 255); opacity: 0.7;
}
.flt2 {
	border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.flt4 {
	border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.Nwd_1 span {
	width: 135px;
}
.Grad {
	transition-property: opacity; transition-duration: 1s; -moz-transition-property: opacity; -moz-transition-duration: 1s; -webkit-transition-property: opacity; -webkit-transition-duration: 1s; -o-transition-property: opacity; -o-transition-duration: 1s;
}
.GradC {
	transition-property: color; transition-duration: 1s; -moz-transition-property: color; -moz-transition-duration: 1s; -webkit-transition-property: color; -webkit-transition-duration: 1s; -o-transition-property: color; -o-transition-duration: 1s;
}
.Nuber {
	background: rgb(255, 122, 77); width: 16px; height: 16px; text-align: center; color: rgb(255, 255, 255); line-height: 16px; float: left; display: inline-block;
}
body a:hover {
	color: rgb(255, 122, 77);
}
.More {
	right: 10px; bottom: -3px; position: absolute; _bottom: 50px;
}
.More_1 {
	right: 10px; bottom: 10px; position: absolute;
}
.More a {
	color: rgb(142, 142, 141);
}
.More_1 a {
	color: rgb(142, 142, 141);
}
.cWidth {
	margin: 0px auto; width: 1000px;
}
.mb20 {
	margin-bottom: 20px;
}
.mr20 {
	margin-right: 20px;
}

.CTitle {
	height: 31px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 2px; border-bottom-style: solid; position: relative;
}
.CTitle h2 {
	height: 18px; color: rgb(76, 76, 76); line-height: 18px; padding-left: 10px; font-family: "微软雅黑","arial"; font-size: 18px; font-weight: normal; border-left-color: rgb(2, 194, 47); border-left-width: 4px; border-left-style: solid;
}
.h_10 {
	height: 10px;
}
.h_15{height: 15px;}
.h_20 {
	height: 20px;
}
.h_30 {
	height: 30px;
}
.h_50 {
	height: 50px;
}
.Hide_Box {
	display: none;
}
.BG {
	background: rgb(255, 0, 0);
}
/*div#footer {
  height: 100px;
  background-color: #515666;
  margin-bottom: 0px;
  color: #A8ABB3;
  font-size: 12px;
  padding-top: 20px;
}
div#footer a {
  font-size: 14px;
  display: inline-block;
  padding: 10px;
  color: #A8ABB3;*/
}